body{
    display: flex;
    justify-content: center;

    background-color: black;
    color: gold
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 30%;
}

button{
    width: 50%;
    border-color: gold;
    border-radius: 40%;
    
    background-color: black;
    color: greenyellow;
}
button:hover{
    background-color: rgb(41, 41, 41);
    color: green;
    border-color: goldenrod;


}

#contadorVisitas{
    color: aqua;
    font-size: large;
}